
staging/loopThroughServers.sh
staging/1-loopThroughServers.sh
staging/2-fetchFilesViaSCP.sh
staging/3-pushTarFilesToUsefulServer.sh
.DS_Store
/.vscode
/check_network_services
/xbar-plugins inactive
xbar-plugins/001-images.sh
xbar-plugins/001-ssh.1m.sh
staging/popeconf.py
/staging
